<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style3333.css" type="text/css" rel="stylesheet"/>

</head>
<body>


<nav>

    <div class="lev_agol">
        <p>WineMapper</p>
    </div>

    <div class="leva_slika">
        <img src="media/Logo.png" alt="Logo" width="70" height="70">
    </div>

    <div class="navigation">
        <a class="tab" href="#winerries">ВИНАРИИ</a>
        <a class="tab" href="#about_us" style="color: red">ЗА НАС</a>
        <a class="tab" href="#contact">КОНТАКТ</a>
    </div>

    <div class="mk_flag">
        <img src="media/Macedonian_flag.png" alt="Macedonian flag" width="50" hight="30">
    </div>

    <div class="usa_flag">
        <img src="media/USA_flag.png" alt="American flag" width="50" height="30">
    </div>

</nav>

<div class="background">
    <p class="naslov">ШТО Е WineMapper?</p>
    <p class="text">
        WineMapper е веб апликација која ќе им овозможи на љубителите на убавото вино едно <br> авантуристичко патување низ Македонија за откривање на најдобрите винарии и вина.<br>
        Пронаоѓање локација на мапа,истражување нови и непосетени винарии, нивна историја,<br> производство,откривање на најпрефинети вина како и прикажување на корисникот која
        е <br> неговата најблиска винарија во зависност од неговата местоположба ќе биде главна цел на <br> нашата апликација. Со користење на интеграцијата на OpenStreetMap, лесно
        ќе може да ги <br> планирате и следите вашите вински авантури на мапа, при што ќе можете да споделувате <br> искуства и впечатоци. Главната цел на оваа апликација е да ја
        потикнеме желбата за посета на <br> широкиот спектар на домашни винарии, како и поедноставено снаоѓање што ќе овозможи <br> поголема посетеност токму преку оваа апликација.<br>
    </p>


</div>




</body>
</html>