<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style4444.css" type="text/css" rel="stylesheet"/>

</head>
<body>


<nav>

    <div class="lev_agol">
        <p>WineMapper</p>
    </div>

    <div class="leva_slika">
        <img src="media/Logo.png" alt="Logo" width="70" height="70">
    </div>

    <div class="navigation">
        <a class="tab" href="#winerries">WINNERIES</a>
        <a class="tab" href="#about_us">ABOUT US</a>
        <a class="tab" href="#contact" style="color: red">CONTACT</a>
    </div>

    <div class="mk_flag">
        <img src="media/Macedonian_flag.png" alt="Macedonian flag" width="50" hight="30">
    </div>

    <div class="usa_flag">
        <img src="media/USA_flag.png" alt="American flag" width="50" height="30">
    </div>

</nav>

<div class="background">
    <p class="search_text">CONTACT INFORMATION</p>
    <p class="ucesnici">
        Ana Marjanovikj<br>
        email: ana.marjanovikj@students.finki.ukim.mk<br>
        Efrem Kulakov<br>
        email: efrem.kulakov@students.finki.ukim.mk<br>
        Andrej Srbinovski<br>
        email: andrej.srbinovski@students.finki.ukim.mk<br>
        Stefan Veljanoski<br>
        email: stefan.veljanoski@students.finki.ukim.mk<br>
        Ivica Rodikj<br>
        email: ivica.rodikj@students.finki.ukim.mk<br>
    </p>



</div>




</body>
</html>