<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>КОНТАКТ</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/contact.css">

</head>
<body>
<header th:replace="fragments/header_mkd"></header>
<div class="background">
    <p class="search_text">КОНТАКТ ИНФОРМАЦИИ</p>
    <p class="ucesnici">
        Ана Марјановиќ<br>
        email: <a href="mailto:ana.marjanovikj@students.finki.ukim.mk">ana.marjanovikj@students.finki.ukim.mk</a><br>
        Ефрем Кулаков<br>
        email: <a href="mailto:efrem.kulakov@students.finki.ukim.mk">efrem.kulakov@students.finki.ukim.mk</a><br>
        Андреј Србиновски<br>
        email: <a href="mailto:andrej.srbinovski@students.finki.ukim.mk">andrej.srbinovski@students.finki.ukim.mk</a><br>
        Стефан Вељаноски<br>
        email: <a href="mailto:stefan.veljanoski@students.finki.ukim.mk">stefan.veljanoski@students.finki.ukim.mk</a><br>
        Ивица Родиќ<br>
        email: <a href="mailto:ivica.rodikj@students.finki.ukim.mk">ivica.rodikj@students.finki.ukim.mk</a><br>
    </p>

</div>
</body>
</html>
