<link rel="stylesheet" href="/css/header.css">
<header class="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div class="logo-section">
        <div class="logo">
            <!--            <img src="/img/logo.png" class="logo-img" alt="Logo"/>-->
            <span class="logo-text">WineMapper</span>
        </div>
    </div>

    <div class="middle-content">
        <a href="/wine-mapper" class="logo">ВИНАРИИ</a>
        <a href="/aboutUs" class="logo">ЗА НАС</a>
        <a href="/contact" class="logo">КОНТАКТ</a>
        <a href="/logout" class="logo">Logout</a>
    </div>

    <div class="flag-section">
        <img src="/img/USA_flag.png" class="flag" alt="USA Flag" height="20px"/>
        <img src="/img/Macedonian_flag.png" class="flag" alt="Macedonian Flag" height="20px"/>
    </div>
</header>
