<link rel="stylesheet" href="/css/header.css">
<header class="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div class="logo-section">
        <a href="/home" class="logo">
            <img src="/img/logo.png" height="20px" class="logo-img" alt="Logo"/>
        </a>
    </div>

    <div class="middle-content">
        <a href="/wine-mapper_mkd" class="logo">ВИНАРИИ</a>
        <a href="/aboutUs_mkd" class="logo">ЗА НАС</a>
        <a href="/contact_mkd" class="logo">КОНТАКТ</a>
        <a href="/logout" class="logo">ОДЈАВИ СЕ</a>
    </div>

</header>
