<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/review.css"/>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>

<header th:replace="lang_mk/header_mkd"></header>

<a th:href="'/home'">Home</a>

<div class="container mt-5">
    <h1>Рецензии за винарија: <span th:text="${winery.name}"></span></h1>

    <h2>Додади рецензија</h2><br>

    <form th:action="@{/review_mkd/addReview/{wineryId} (wineryId=${winery.getId()})}" th:object="${review}" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="rating">Оценка: </label>
            <input type="number" id="rating" th:field="*{rating}" class="form-control" required max="10" min="0"/>
            <div class="invalid-feedback">Ве молиме внесете оцена</div>
        </div>

        <div class="form-group">
            <label for="comment">Коментар: </label>
            <textarea id="comment" th:field="*{comment}" class="form-control" required></textarea>
            <div class="invalid-feedback">Ве молиме внесете коментар</div>
        </div>

        <button type="submit" class="btn btn-primary">Испратите рецензија</button>
    </form>
    <br>

    <div th:if="${reviews != null && reviews.size() > 0}">
        <ul class="list-group mt-4">
            <li th:each="review : ${reviews}" class="list-group-item review-item">
                <!-- Display review information -->
                <p th:text="'Оцена: ' + ${review.rating} + ', Коментар: ' + ${review.comment}"></p>
            </li>
        </ul>
    </div>

    <div th:if="${reviews == null || reviews.size() == 0}">
        <p>Нема рецензии за оваа винарија</p>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>