<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Насловна страна</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/aboutUs.css">
</head>
<body>
<header th:replace="lang_mk/header_mkd"></header>
<div class="background">
    <p class="naslov">ШТО Е WineMapper?</p>
    <p class="text">
        WineMapper е веб апликација која ќе им овозможи на љубителите на убавото вино едно <br> авантуристичко патување низ Македонија за откривање на најдобрите винарии и вина.<br>
        Пронаоѓање локација на мапа,истражување нови и непосетени винарии, нивна историја,<br> производство,откривање на најпрефинети вина како и прикажување на корисникот која
        е <br> неговата најблиска винарија во зависност од неговата местоположба ќе биде главна цел на <br> нашата апликација. Со користење на интеграцијата на OpenStreetMap, лесно
        ќе може да ги <br> планирате и следите вашите вински авантури на мапа, при што ќе можете да споделувате <br> искуства и впечатоци. Главната цел на оваа апликација е да ја
        потикнеме желбата за посета на <br> широкиот спектар на домашни винарии, како и поедноставено снаоѓање што ќе овозможи <br> поголема посетеност токму преку оваа апликација.<br>
    </p>


</div>
</body>
</html>