<link rel="stylesheet" href="css/header.css">
<header class="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div style="display: flex; align-items: center; justify-content: space-between">
        <div class="logo">
            <img src="img/logo.png" href="/home" class="logo" alt="Logo"/>
            <a href="/home" class="logo">WineMapper</a>
            <a href="/aboutUs" class="logo">About Us</a>
            <a href="/contacts" class="logo">Contacts</a>
            <a href="/logout" class="logo">Logout</a>
        </div>
    </div>
</header>



