<link rel="stylesheet" href="/css/header.css">
<header class="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div class="logo-section">
        <a href="/home" class="logo">
            <img src="/img/logo.png" height="20px" class="logo-img" alt="Logo"/>
        </a>
    </div>

    <div class="middle-content center-text"> <!-- Added the center-text class here -->
        <a href="/wine-mapper" class="logo">WINERIES</a>
        <a href="/aboutUs" class="logo">ABOUT US</a>
        <a href="/contact" class="logo">CONTACT</a>
        <a href="/logout" class="logo">LOGOUT</a>
    </div>
</header>
