<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/aboutUs.css">
</head>
<body>
<header th:replace="fragments/header"></header>
<div class="background">
    <p class="naslov">WHAT ARE WE ALL ABOUT!</p>
    <p class="text">
        WineMapper is a web application that allows wine-lovers to have a wounderful experience in <br>
        Macedonia. The app leads its users to the best wineries locally by showcasing precise
        location of every <br> winery in Macedonia, showcasing the nearest winery and finding out about new
        winieries in general.<br> With the help of OpenStreetMap, our users can easily plan their next trip
        and even share their <br> experience by writing a review or rating the given winery. The main goal
        is to encourage wine-lovers <br> to visit the wide range of domestic wineries, as well as simplified
        navigation that will allow the users to <br> visit every winery in Macedonia.
    </p>


</div>
</body>
</html>