<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home-page.css" />
</head>
<body style="background-image: url('/img/Backround_image.jpg');">
<header th:replace="fragments/header"></header>
<p class="text1">WineMapper</p>

<p class="text2">Join the community of passionate wine lovers in Macedonia</p>

<div class="flag-section">
    <img src="/img/USA_flag.png" class="flag" alt="USA Flag" height="20px"/>
    <img src="/img/Macedonian_flag.png" class="flag" alt="Macedonian Flag" height="20px"/>
</div>
</body>
</html>