<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Winery Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="/css/wine-mapper.css">
    <link rel="stylesheet" href="/css/routing.css">
    <style>
        #map > div.leaflet-control-container > div.leaflet-top.leaflet-left > div{
            margin-top: 80px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
<header th:replace="fragments/header"></header>

<div id="map" style="height: 90vh; width: 100%"></div>

<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

<script th:inline="javascript">
    var wineries = /*[[${wineries}]]*/ [];
    var map = L.map('map').setView([41.6086, 21.7453], 9);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© WineMapper Team'
    }).addTo(map);

    var routingControl = null;
    var openedMarkers = {};

    function redirectToReview(wineryId) {
        window.location.href = '/review/' + wineryId + '/reviews';
    }

    function showRoute(wineryLatitude, wineryLongitude, marker) {
        if (routingControl !== null) {
            map.removeControl(routingControl);
        }

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var userLatitude = position.coords.latitude;
                var userLongitude = position.coords.longitude;

                routingControl = L.Routing.control({
                    waypoints: [
                        L.latLng(userLatitude, userLongitude),
                        L.latLng(wineryLatitude, wineryLongitude)
                    ],
                    routeWhileDragging: true
                }).addTo(map);
            });
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }

    function closeRoute(marker) {
        map.removeControl(routingControl);
        marker.bindPopup(marker.options.popupContent);
    }

    function openPopup(winery) {
        var marker = L.marker([winery.latitude, winery.longitude])
            .addTo(map);

        var popupContent = '<b>' + winery.name + '</b>'+
            '<br/>Rating: ' + winery.reviewRatingsAverage +
            '<br/><button onclick="redirectToReview(' + winery.id + ')">Review</button><br>' +
            '<button onclick="showRoute(' + winery.latitude + ',' + winery.longitude + ', this)">Show Route</button><br>' +
            '<button onclick="closeRoute(this)">Close Route</button><br>' +
            '<button onclick="redirectToMaps(' + winery.latitude + ',' + winery.longitude + ')">View on Google Maps</button>';

        marker.bindPopup(popupContent);
        marker.options.popupContent = popupContent; // Save the popup content for later use
    }

    function redirectToMaps(wineryLatitude, wineryLongitude) {
        var mapsUrl = 'https://www.google.com/maps/dir/?api=1&destination=' + wineryLatitude + ',' + wineryLongitude;
        window.open(mapsUrl, '_blank');
    }

    wineries.forEach(function (winery) {
        openPopup(winery);
    });
</script>

</body>
</html>
